/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

@import url(http://fonts.googleapis.com/css?family=Rambla:400,700,400italic);

#logo {
	height: 100px;
	width: 100px;
}

#logo, #pizzaPic {
	float: left;
}

#pizzaPic {
	height: 500px;
	width: 700px;
	margin-top: 5%;
	margin-left: 2%;
	padding-right: 2%;
}

#heading {
	height: 100px;
	background-color: #C9EAF5;
}

#contentArea {
	width: 80%;
	text-align: center;
	margin-top: 1%;
	background-color: #FAF5D7;
}

nav li {
	display: inline;
	font-weight: bold;
	padding-left: 1%;
	padding-right: 1%;
}

#details li {
	text-align: left;
}

#details {
	margin-top: 10%;
	padding-bottom: 3%;
}

#details ul {
	margin-left: 2%;
}

a {
	/* color: #E4E868; */
	font-size: 18pt;
}

h1, #contentArea {
	margin: auto;
	/* color: white; */
}

ul {
	margin-top: 2%;
}

body {
	font-family: 'Rambla', 'Helvetica', 'Arial', sans-serif;
	background-image: url(../img/background.jpg);
	text-align: center;
	padding: 3%;
}

h1 {
	font-size: 36pt;
}

#description {
	font-style: italic;
	padding-top: 25px;
}

#contentArea ul {
	padding-bottom: 400px;
}